<%- include('partials/header.ejs') %>
<body>

    <section class="current-status">
        <div class="map-container">
            <div id="map" class="map-city"></div>
    
            <div class="city-info">
                <p class="currentTime"></p>
                <h2><%= city.name %>, <%= city.country %></h2>
                <p class="main-temp"><%= Math.round(currentTemp.temp) %>°F</p>
                <p><%= Math.round(currentTemp.temp_max) %> / <%= Math.round(currentTemp.temp_min) %>°F</p>
                <ul>
                    <li><strong>Feels like <%= Math.round(currentTemp.feels_like) %>°F with <%= mainDescription.description %>.</strong> </li>
                </ul>
                <h2>Current Weather</h2>
                <ul>
                    <li><%= currentWind.speed %>mph  <%= cardDirections %> </li>
                    <li>Humidity: <%= currentTemp.humidity %>%</li>
                    <li>Visibility: <%= visibility/1000 %>km</li>
                </ul>
            </div>
        </div>
    </section>


    
    <section class="forecast-grid">
        <div class="card-grid">
            <% for (let date in groupedData) { %>
                <div class="weather-card">
                    <h3><%= groupedData[date].formattedDate %></h3>
                    <% if (groupedData[date].tempHigh !== undefined) { %>
                        <p>High: <%= groupedData[date].tempHigh %>°F</p>
                    <% } else { %>
                        <p>High: Data not available</p>
                    <% } %>
                    <% if (groupedData[date].tempLow !== undefined) { %>
                        <p>Low: <%= groupedData[date].tempLow%>°F</p>
                    <% } else { %>
                        <p>Low: Data not available</p>
                    <% } %>
                   
                        </div>
                    <% }; %>
                </div>
        </div>
    </section>
    
    
    
    



    <%- include('partials/footer.ejs') %>
</body>
