<%- include('partials/header.ejs') %>
<body>

    <section class="current-status">
        <div class="map-container">
            <div id="map" class="map-city"></div>
    
            <div class="city-info">
                <h2><%= city.name %>, <%= city.country %></h2>
                <ul>
                    <li><strong>Population:</strong> <%= city.population %></li>
                </ul>
                
                <h2>Current Weather</h2>
                <p><strong>Main Description:</strong> <%= mainDescription.description %></p>
                <ul>
                    <li><strong>Current Temperature:</strong> <%= Math.round(currentTemp.temp) %>°F</li>
                    <li><strong>Feels Like:</strong> <%= Math.round(currentTemp.feels_like) %>°F</li>
                    <li><strong>Max Temp:</strong> <%= Math.round(currentTemp.temp_max) %>°F</li>
                    <li><strong>Min Temp:</strong> <%= Math.round(currentTemp.temp_min) %>°F</li>
                </ul>
            </div>
        </div>
    </section>


    
    <section class="forecast-grid">
        <div class="card-grid">
            <% for (let date in groupedData) { %>
                <div class="weather-card">
                    <h3><%= groupedData[date].formattedDate %></h3>
                    <% if (groupedData[date].tempHigh !== undefined) { %>
                        <p>High: <%= groupedData[date].tempHigh %>°F</p>
                    <% } else { %>
                        <p>High: Data not available</p>
                    <% } %>
                    <% if (groupedData[date].tempLow !== undefined) { %>
                        <p>Low: <%= groupedData[date].tempLow%>°F</p>
                    <% } else { %>
                        <p>Low: Data not available</p>
                    <% } %>
                   
                        </div>
                    <% }; %>
                </div>
        </div>
    </section>
    
    
    
    



    <%- include('partials/footer.ejs') %>
</body>
